@using System.Globalization
<div>
    <div class="menu-item">
        <img width="200px" height="200px" src="@(MenuEntry.ImageUrl ?? "?")" alt="@MenuEntry.MainMenu"/>
        <h2>@(CultureInfo.CurrentCulture.DateTimeFormat.GetDayName(MenuEntry.DayOfWeek!.Value))</h2>
        <p>@MenuEntry.MainMenu</p>
        <p>@MenuEntry.SuppeMenu</p>
    </div>
    
</div>

@code {
    [Parameter] 
    public required MenuEntry MenuEntry { get; set; }
}